  <table class="racer_table">
    <tr id="player1_strip">
      <td id="" class="active"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr id="player2_strip">
      <td class="active"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </table>

  <div id= "winner_one" class="display-none">
    <h2>Player 1 wins!</h2>
  </div>
  <div id="winner_two" class="display-none">
    <h2>Player 2 wins!</h2>
  </div>

  <div id='play-again'></div>
  <div id='view-stats'></div>
  <div id='change-players'></div>



